@model IEnumerable<Competitiveness.Branch>

@{
    ViewBag.Title = "BuildingIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-heading page-heading-md">


    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-4">
                <p class="">Lựa chọn ngành để xem chỉ số cạnh tranh</p>
            </div>
            <div class="col-md-8">
                @* not me *@
                <select name="sweets" class="select-branch">
                    @foreach (var item in Model)
                    {
                        <option value="@item.BranchId">@item.BranchName</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <br />

    <div id="table_factor"></div>


</div>
<script>
    $("select")
      .change(function () {




          $("select option:selected").each(function () {


              // var ids = $(this).val().toString();
              var idss = ($(this).val()).toString();
              $.ajax({
                  @*url: '@Url.Action("PartialViewFactor", "Home", new {id = idss })',*@
                  url: '/Home/PartialViewFactor?id=' + idss,
                  type: "GET",
                  success: function (response) {
                      $("#table_factor").html(response);
                  },
                  error: function () {
                      alert("error occured");
                  }

              });


          });
          //
      })
      .change();
</script>
