
@{
    ViewBag.Title = "EvaluationMethods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-heading page-heading-md">

    <div class="container-fluid-md">
        <div class="row">
            <div class="col-md-12">
                <div id="accordion" class="panel-group">

                    <h1><em><strong>X&acirc;y dựng phương ph&aacute;p đ&aacute;nh gi&aacute; chỉ số năng lực cạnh tranh</strong></em></h1>

                    <p>Một số yếu tố nổi bật ảnh hưởng tới khả năng cạnh tranh của doanh nghiệp&nbsp;như : <em>nguồn lực t&agrave;i ch&iacute;nh, nh&acirc;n lực v&agrave; khả năng c&ocirc;ng nghệ, hệ thống cơ cấu tổ chức, năng suất, sự đổi mới, h&igrave;nh ảnh v&agrave; danh tiếng, dịch vụ kh&aacute;ch h&agrave;ng, sản phẩm đa dạng v&agrave; linh hoạt</em>.</p>

                    <p>Nhận thức được những nh&acirc;n tố chủ yếu ảnh hưởng tới khả năng cạnh tranh vẫn c&ograve;n tranh c&atilde;i, đ&aacute;nh gi&aacute; khả năng cạnh tranh dựa v&agrave;o tiềm lực về t&agrave;i ch&iacute;nh hay c&aacute;c yếu tố đơn lẻ kh&ocirc;ng đủ để x&aacute;c định sự xuất sắc của một ng&agrave;nh c&ocirc;ng nghiệp. Do đ&oacute; th&igrave; m&ocirc; h&igrave;nh đa cấp được ph&aacute;t triển.</p>

                    <p>C&aacute;c bước sau x&aacute;c định một phương ph&aacute;p để đ&aacute;nh gi&aacute; năng lực cạnh tranh của doanh nghiệp dựa v&agrave;o nhiều thuộc t&iacute;nh</p>

                    <p>&nbsp;</p>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/Content/Images/cacbuocthuchien.PNG" />
                        </div>
                        <div class="col-md-8">
                            <p><strong>X&aacute;c định đối tượng v&agrave; phương ph&aacute;p lấy mẫu</strong> nghĩa l&agrave; đối tượng để thu thập dữ liệu l&agrave; những đối tượng n&agrave;o, c&oacute; y&ecirc;u cầu g&igrave; về đối tượng hay kh&ocirc;ng, với c&aacute;c c&aacute;ch thức để lấy mẫu như phỏng vấn trực tiếp, l&agrave;m khảo s&aacute;t trực tiếp hay th&ocirc;ng qua c&aacute;c phương tiện internet.</p>

                            <p><strong>X&acirc;y dựng v&agrave; thiết kế bảng c&acirc;u hỏi</strong>, việc đ&aacute;nh gi&aacute; năng lực cạnh tranh của mỗi ng&agrave;nh cần c&oacute; c&aacute;c chuy&ecirc;n gia ri&ecirc;ng để x&aacute;c định được những th&agrave;nh phần ảnh hưởng đến ng&agrave;nh đ&oacute;. Bảng c&acirc;u hỏi phải ph&ugrave; hợp với c&aacute;c đối tượng khảo s&aacute;t.</p>

                            <p><strong>Việc tiến h&agrave;nh th&iacute; nghiệm khảo s&aacute;t</strong>, mục đ&iacute;ch l&agrave; để x&aacute;c định c&aacute;c c&acirc;u hỏi đ&atilde; ph&ugrave; hợp chưa, n&oacute; cần thay đổi những g&igrave; để đối tượng được khảo s&aacute;t c&oacute; thể hiểu tốt nhất. Những đ&oacute;ng g&oacute;p của những chuy&ecirc;n gia, người c&oacute; kinh nghiệm về vấn đề ng&ocirc;n ngữ, sẽ được tiếp nhận.</p>

                            <p><strong>Điều chỉnh bộ c&acirc;u hỏi sau khi thử nghiệm khảo s&aacute;t</strong>,&nbsp;chỉnh sửa v&agrave; đưa ra bộ c&acirc;u hỏi cuối c&ugrave;ng sau khi tiếp nhận c&aacute;c đ&oacute;ng g&oacute;p từ bước tr&ecirc;n. Bước n&agrave;y cũng kh&aacute; quan trọng, n&oacute; gi&uacute;p đối tượng khảo s&aacute;t hiểu r&otilde; những g&igrave; họ đ&aacute;nh gi&aacute;, v&igrave; thế dữ liệu thu thập được sẽ c&oacute; độ tin cậy cao hơn.</p>

                            <p><strong>Thu thập dữ liệu</strong>, việc thu thập dữ liệu c&oacute; thể thực hiện bằng nhiều c&aacute;ch, dựa v&agrave;o những mối quan hệ x&atilde; hội, mục ti&ecirc;u l&agrave; thu thập được dữ liệu cần thiết với mức độ tin tưởng chấp nhận được. Để c&oacute; được dữ liệu mẫu để so s&aacute;nh th&igrave; phải c&oacute; thời gian để triển khai thu thập dữ liệu một c&aacute;ch hiệu quả.</p>

                            <p><strong>Xử l&yacute; dữ liệu</strong>, xử l&yacute; dữ liệu th&ocirc; v&agrave; nhập v&agrave;o phần mềm để t&iacute;nh to&aacute;n ra c&aacute;c điểm số để so s&aacute;nh.</p>

                            <p>&nbsp;</p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <img src="~/Content/Images/khungdanhgia.PNG" />
                        </div>
                        <div class="col-md-5">
                            <div style="margin-left:70px">
                                <p>Đ&acirc;y l&agrave; một v&iacute; dụ về c&acirc;y ph&acirc;n cấp x&aacute;c định c&aacute;c yếu tố, ti&ecirc;u ch&iacute; v&agrave; thuộc t&iacute;nh cạnh tranh.</p>

                                <p>Đối với từng ng&agrave;nh cần x&acirc;y dựng chỉ số so s&aacute;nh theo m&ocirc; h&igrave;nh tổng hợp nhiều thuộc t&iacute;nh, c&aacute;c chuy&ecirc;n gia về lĩnh vực đ&oacute; cần x&aacute;c định được c&aacute;c kh&iacute;a cạnh ảnh hưởng tới khả năng cạnh tranh trong ng&agrave;nh, từ đ&oacute; vẽ được biểu đồ ph&acirc;n cấp như b&ecirc;n dưới.</p>

                                <p>Từ đ&oacute; gi&uacute;p x&acirc;y dựng bộ c&acirc;u hỏi khảo s&aacute;t đ&aacute;nh gi&aacute; tốt nhất về khả năng cạnh tranh trong lĩnh vực đ&oacute;.</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>