<div class="container-fluid-md">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <a href="/Branch/Index">
                <div class="panel panel-metric panel-metric-sm">
                    <div class="panel-body panel-body-primary">
                        <div class="metric-content metric-icon">

                            <div class="icon">
                                <i class="fa fa-database"></i>
                            </div>
                            <header>
                                <h3 class="thin">Quản lý dữ liệu</h3>
                            </header>

                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="/Chart/Chart">
            <div class="panel panel-metric panel-metric-sm">
                <div class="panel-body panel-body-success">
                    <div class="metric-content metric-icon">
                
                        <div class="icon">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <header>
                            <h3 class="thin">Biểu đồ cạnh tranh</h3>
                        </header>
                    </div>
                </div>
            </div>
             </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="/Home/Theory">
            <div class="panel panel-metric panel-metric-sm">
                <div class="panel-body panel-body-inverse">
                    <div class="metric-content metric-icon">
                
                        <div class="icon">
                            <i class="fa fa-chain-broken"></i>
                        </div>
                        <header>
                            <h3 class="thin">Lý thuyết nghiên cứu</h3>
                        </header>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="/Home/Evaluation">
            <div class="panel panel-metric panel-metric-sm">
                <div class="panel-body panel-body-danger">
                    <div class="metric-content metric-icon">
                        <div class="icon">
                            <i class="fa fa-tags"></i>
                        </div>
                        <header>
                            <h3 class="thin">Đánh giá nghiên cứu</h3>
                        </header>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>