@model IEnumerable<Company>
<div class="container-fluid-md">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <a href="/Branch/Index">
                <div class="panel panel-metric panel-metric-sm">
                    <div class="panel-body panel-body-primary">
                        <div class="metric-content metric-icon">

                            <div class="icon">
                                <i class="fa fa-database"></i>
                            </div>
                            <header>
                                <h3 class="thin">Quản lý dữ liệu</h3>
                            </header>

                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="/Chart/Chart">
            <div class="panel panel-metric panel-metric-sm">
                <div class="panel-body panel-body-success">
                    <div class="metric-content metric-icon">
                
                        <div class="icon">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <header>
                            <h3 class="thin">Biểu đồ cạnh tranh</h3>
                        </header>
                    </div>
                </div>
            </div>
             </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="/Home/TheoryCompetitiveness">
            <div class="panel panel-metric panel-metric-sm">
                <div class="panel-body panel-body-inverse">
                    <div class="metric-content metric-icon">
                
                        <div class="icon">
                            <i class="fa fa-chain-broken"></i>
                        </div>
                        <header>
                            <h3 class="thin">Lý thuyết cạnh tranh</h3>
                        </header>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="/Home/EvaluationMethods">
            <div class="panel panel-metric panel-metric-sm">
                <div class="panel-body panel-body-danger">
                    <div class="metric-content metric-icon">
                        <div class="icon">
                            <i class="fa fa-tags"></i>
                        </div>
                        <header>
                            <h3 class="thin">Phương pháp đánh giá</h3>
                        </header>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="panel" style="overflow: hidden;">
                <div class="panel-body">
                    <h4 class="thin no-margin-top">
                        <a href="/Company/Index">Danh sách các công ty được đánh giá</a>
                    </h4>
                    <table class="table">
                        <tbody>
                            @foreach (var company in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="javascript:;" class="text-success semi-bold">#@company.CompanyId</a>
                                    </td>
                                    <td>
                                        <a href="/Company/DetailsOfCompany?companyId=@company.CompanyId">@company.Name</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div id="server-load" class="chart rickshaw_graph"><svg width="423" height="90"><path class="path" d="M0,71.45922919098007Q6.213559322033898,63.65881171111047,7.169491525423728,63.48138268375301C8.603389830508474,63.21523914271683,12.90508474576271,68.2113864544047,14.338983050847457,68.79779378061826S20.07457627118644,68.37056971882993,21.508474576271187,69.34545594588862S27.244067796610167,79.18654275942896,28.677966101694913,78.54665605120522S34.413559322033905,63.32123906185779,35.84745762711865,62.946588863651186S41.58305084745763,73.95960328598564,43.016949152542374,74.80015406913918S48.75254237288136,71.17553096701526,50.186440677966104,71.35209669518666S55.92203389830508,75.95352468111582,57.35593220338983,76.5658113508531S63.09152542372882,77.13698729430536,64.52542372881356,77.4749633925594S70.26101694915256,80.44175886310954,71.6949152542373,79.94557233339357S77.43050847457629,73.17978660520285,78.86440677966102,72.51309809539967S84.60000000000001,73.94455715603829,86.03389830508475,73.2786872353617S91.76949152542375,66.70455548433956,93.20338983050848,65.85439888863385S98.93898305084747,64.05506808954502,100.37288135593221,64.77712127830455S106.1084745762712,72.22300977829357,107.54237288135594,73.07493077622918S113.27796610169491,73.85663983986603,114.71186440677965,73.2963312576606S120.44745762711864,67.85808040180433,121.88135593220339,67.47184495417476S127.61694915254239,68.87790513472999,129.05084745762713,69.43397678136489S134.7864406779661,73.1520925623873,136.22033898305085,73.03256142052386S141.95593220338986,67.98752193469751,143.3898305084746,68.23866536273049S149.1254237288136,75.86875764038437,150.55932203389833,75.54399570085364S156.2949152542373,64.53064754125225,157.72881355932205,64.9910459674231S163.46440677966103,80.2163534840238,164.89830508474577,80.14797996256223S170.63389830508476,66.03037975430544,172.0677966101695,64.30731075280747S177.8033898305085,62.820523400514055,179.23728813559325,62.91728994758252S184.97288135593223,64.21414881571826,186.40677966101697,65.27497622349206S192.14237288135595,72.1536286276799,193.5762711864407,73.52556402532053S199.31186440677968,79.99694953559796,200.74576271186442,78.99433019989843S206.4813559322034,63.64894311690169,207.91525423728814,63.4993706683252S213.65084745762715,75.91771511374218,215.0847457627119,77.49860571413348S220.82033898305087,80.32123407168253,222.2542372881356,79.30827667223818S227.98983050847457,68.50616630596535,229.4237288135593,67.36903171969006S235.15932203389835,68.21663047126289,236.5932203389831,67.93693080948519S242.32881355932204,64.64281763429395,243.76271186440678,64.57203510191303S249.4983050847458,66.55893023339893,250.93220338983053,67.22910548567604S256.6677966101695,70.76067783125563,258.10169491525426,71.27378762468416S263.8372881355932,72.82255977044615,265.271186440678,72.36020341996125S271.00677966101694,66.03567920699699,272.4406779661017,66.6502241198352S278.17627118644066,77.83516911198788,279.6101694915254,78.50565254834342S285.34576271186444,73.48607982662368,286.7796610169492,73.35505848339064S292.5152542372881,78.00662415649147,293.9491525423729,77.19543911601298S299.6847457627119,65.05262353565399,301.11864406779665,65.2432080786057S306.8542372881356,77.4999352606278,308.2881355932204,79.10128454553012S314.02372881355933,80.97167390530028,315.4576271186441,81.25670092762898S321.19322033898305,83.18087264279345,322.6271186440678,81.95155476881722S328.3627118644068,69.9133005447274,329.79661016949154,68.96352218786669S335.53220338983056,71.92261412892327,336.9661016949153,72.45377120020997S342.7016949152543,74.4882660124083,344.135593220339,74.27509290073364S349.87118644067795,71.44196547935012,351.3050847457627,70.32204008346326S357.0406779661017,62.874812643220125,358.4745762711865,63.075838941865115S364.2101694915254,71.0610051380204,365.64406779661016,72.3323030699132S371.37966101694917,76.39422974027437,372.81355932203394,75.78881826079298S378.5491525423729,66.43304131323323,379.98305084745766,66.2781882750993S385.7186440677966,73.89427532043818,387.1525423728814,74.24028787945366S392.88813559322034,69.26216274761663,394.3220338983051,69.73831386525407S400.05762711864406,79.1189971923567,401.49152542372883,79.00179905582812S407.2271186440678,69.55740680402693,408.66101694915255,68.56633249996817S414.3966101694915,68.11931059991821,415.8305084745763,69.09105601524058Q416.7864406779661,69.73888629212216,423,78.28378665319185L423,134Q416.7864406779661,134,415.8305084745763,134C414.3966101694915,134,410.0949152542373,134,408.66101694915255,134S402.9254237288136,134,401.49152542372883,134S395.7559322033899,134,394.3220338983051,134S388.58644067796615,134,387.1525423728814,134S381.41694915254243,134,379.98305084745766,134S374.2474576271187,134,372.81355932203394,134S367.0779661016949,134,365.64406779661016,134S359.90847457627126,134,358.4745762711865,134S352.7389830508475,134,351.3050847457627,134S345.5694915254237,134,344.135593220339,134S338.4000000000001,134,336.9661016949153,134S331.2305084745763,134,329.79661016949154,134S324.0610169491526,134,322.6271186440678,134S316.89152542372887,134,315.4576271186441,134S309.72203389830514,134,308.2881355932204,134S302.5525423728814,134,301.11864406779665,134S295.38305084745764,134,293.9491525423729,134S288.213559322034,134,286.7796610169492,134S281.0440677966102,134,279.6101694915254,134S273.87457627118647,134,272.4406779661017,134S266.70508474576275,134,265.271186440678,134S259.535593220339,134,258.10169491525426,134S252.36610169491527,134,250.93220338983053,134S245.19661016949152,134,243.76271186440678,134S238.02711864406783,134,236.5932203389831,134S230.85762711864405,134,229.4237288135593,134S223.68813559322035,134,222.2542372881356,134S216.51864406779663,134,215.0847457627119,134S209.34915254237288,134,207.91525423728814,134S202.17966101694915,134,200.74576271186442,134S195.01016949152543,134,193.5762711864407,134S187.8406779661017,134,186.40677966101697,134S180.67118644067799,134,179.23728813559325,134S173.50169491525423,134,172.0677966101695,134S166.3322033898305,134,164.89830508474577,134S159.1627118644068,134,157.72881355932205,134S151.99322033898306,134,150.55932203389833,134S144.82372881355934,134,143.3898305084746,134S137.6542372881356,134,136.22033898305085,134S130.48474576271187,134,129.05084745762713,134S123.31525423728814,134,121.88135593220339,134S116.14576271186439,134,114.71186440677965,134S108.97627118644068,134,107.54237288135594,134S101.80677966101695,134,100.37288135593221,134S94.63728813559322,134,93.20338983050848,134S87.46779661016949,134,86.03389830508475,134S80.29830508474576,134,78.86440677966102,134S73.12881355932204,134,71.6949152542373,134S65.95932203389832,134,64.52542372881356,134S58.78983050847457,134,57.35593220338983,134S51.62033898305085,134,50.186440677966104,134S44.45084745762712,134,43.016949152542374,134S37.2813559322034,134,35.84745762711865,134S30.11186440677966,134,28.677966101694913,134S22.942372881355933,134,21.508474576271187,134S15.772881355932203,134,14.338983050847457,134S8.603389830508474,134,7.169491525423728,134Q6.213559322033898,134,0,134Z" fill="#E8524E" stroke="none" stroke-width="2"></path><path class="path" d="M0,11.904166283237402Q6.213559322033898,9.770373913575046,7.169491525423728,9.818261565717265C8.603389830508474,9.890093043930595,12.90508474576271,12.9657953748287,14.338983050847457,12.622481065370692S20.07457627118644,5.28191174151028,21.508474576271187,6.38511847113719S27.244067796610167,24.160386941426786,28.677966101694913,23.654548361639797S34.413559322033905,1.5301750509024885,35.84745762711865,1.3267326732673155S41.58305084745763,20.45630392957071,43.016949152542374,21.620124585288067S48.75254237288136,13.650807009816038,50.186440677966104,12.964939230440905S55.92203389830508,14.408154483365735,57.35593220338983,14.761446791536741S63.09152542372882,14.7392462465486,64.52542372881356,16.49786231215097S70.26101694915256,32.758914281783106,71.6949152542373,32.34760744756046S77.43050847457629,13.306960282554979,78.86440677966102,12.384793969924544S84.60000000000001,22.29891953075441,86.03389830508475,23.125944321256128S91.76949152542375,22.509797631434502,93.20338983050848,20.65504187494173S98.93898305084747,4.7729331354317,100.37288135593221,4.5783867563284275S106.1084745762712,18.0656584637699,107.54237288135594,18.70957808390901S113.27796610169491,11.07674223889359,114.71186440677965,11.017582957719512S120.44745762711864,18.713749856874134,121.88135593220339,18.117985272168227S127.61694915254239,4.363127308993039,129.05084745762713,5.059937110660428S134.7864406779661,23.640367363026666,136.22033898305085,25.08608328884212S141.95593220338986,20.687412432946978,143.3898305084746,19.51709636881496S149.1254237288136,15.141683779752478,150.55932203389833,13.382922647521937S156.2949152542373,1.3526439373877723,157.72881355932205,1.9294850465095408S163.46440677966103,18.12014217099337,164.89830508474577,19.151333738739623S170.63389830508476,12.846752078434672,172.0677966101695,12.241400723972092S177.8033898305085,14.088634346157509,179.23728813559325,13.097820194113808S184.97288135593223,2.5741125688650044,186.40677966101697,2.3332592035350785S192.14237288135595,8.081817393429112,193.5762711864407,10.68928654081455S199.31186440677968,28.251339945809704,200.74576271186442,28.40795067738945S206.4813559322034,12.36878537239674,207.91525423728814,12.255393856612002S213.65084745762715,25.31900673699049,215.0847457627119,27.274035519542068S220.82033898305087,33.66498796172846,222.2542372881356,31.80568168212777S227.98983050847457,10.228274849432276,229.4237288135593,8.680972723535191S235.15932203389835,16.2294105394318,236.5932203389831,16.332660423156923S242.32881355932204,9.454725174079867,243.76271186440678,9.713471560786417S249.4983050847458,17.951490666685768,250.93220338983053,18.920124290222418S256.6677966101695,19.911823477276098,258.10169491525426,19.399807796152913S263.8372881355932,15.512867962592608,265.271186440678,13.799967478990581S271.00677966101694,1.4385273721916678,272.4406779661017,2.2708029601326416S278.17627118644066,21.29370228685084,279.6101694915254,22.12272335840032S285.34576271186444,11.27379921517736,286.7796610169492,10.561013675627436S292.5152542372881,14.58245780749501,293.9491525423729,14.994867962901068S299.6847457627119,14.544503628421342,301.11864406779665,14.685115229688023S306.8542372881356,14.862471768911773,308.2881355932204,16.400983975567883S314.02372881355933,29.48879559360114,315.4576271186441,30.07023729624912S321.19322033898305,23.13241262224617,322.6271186440678,22.215401002047685S328.3627118644068,20.78087083817111,329.79661016949154,20.90012109426425S335.53220338983056,23.625373142476803,336.9661016949153,23.407903562979058S342.7016949152543,19.201311029724717,344.135593220339,18.725425299286798S349.87118644067795,20.259078933531917,351.3050847457627,18.649046258599867S357.0406779661017,3.624709425046893,358.4745762711865,2.62509854996631S364.2101694915254,6.748174604474605,365.64406779661016,8.652937507794036S371.37966101694917,20.73729786431344,372.81355932203394,21.672727583160622S378.5491525423729,18.02248103552992,379.98305084745766,18.00723469626584S385.7186440677966,21.05382931406845,387.1525423728814,21.52026419051981S392.88813559322034,22.004136567802625,394.3220338983051,22.671583460779445S400.05762711864406,29.6574624631022,401.49152542372883,28.194733120287992S407.2271186440678,9.855225848086116,408.66101694915255,8.044290032637363S414.3966101694915,9.03968028204711,415.8305084745763,10.085374965800469Q416.7864406779661,10.782504754969375,423,18.501236870170956L423,78.28378665319185Q416.7864406779661,69.73888629212216,415.8305084745763,69.09105601524058C414.3966101694915,68.11931059991821,410.0949152542373,67.57525819590941,408.66101694915255,68.56633249996817S402.9254237288136,78.88460091929953,401.49152542372883,79.00179905582812S395.7559322033899,70.21446498289151,394.3220338983051,69.73831386525407S388.58644067796615,74.58630043846914,387.1525423728814,74.24028787945366S381.41694915254243,66.12333523696536,379.98305084745766,66.2781882750993S374.2474576271187,75.18340678131159,372.81355932203394,75.78881826079298S367.0779661016949,73.60360100180598,365.64406779661016,72.3323030699132S359.90847457627126,63.276865240510105,358.4745762711865,63.075838941865115S352.7389830508475,69.20211468757641,351.3050847457627,70.32204008346326S345.5694915254237,74.06191978905898,344.135593220339,74.27509290073364S338.4000000000001,72.98492827149667,336.9661016949153,72.45377120020997S331.2305084745763,68.01374383100597,329.79661016949154,68.96352218786669S324.0610169491526,80.72223689484099,322.6271186440678,81.95155476881722S316.89152542372887,81.54172794995769,315.4576271186441,81.25670092762898S309.72203389830514,80.70263383043245,308.2881355932204,79.10128454553012S302.5525423728814,65.43379262155742,301.11864406779665,65.2432080786057S295.38305084745764,76.38425407553449,293.9491525423729,77.19543911601298S288.213559322034,73.22403714015759,286.7796610169492,73.35505848339064S281.0440677966102,79.17613598469896,279.6101694915254,78.50565254834342S273.87457627118647,67.26476903267341,272.4406779661017,66.6502241198352S266.70508474576275,71.89784706947636,265.271186440678,72.36020341996125S259.535593220339,71.78689741811269,258.10169491525426,71.27378762468416S252.36610169491527,67.89928073795316,250.93220338983053,67.22910548567604S245.19661016949152,64.50125256953211,243.76271186440678,64.57203510191303S238.02711864406783,67.65723114770749,236.5932203389831,67.93693080948519S230.85762711864405,66.23189713341476,229.4237288135593,67.36903171969006S223.68813559322035,78.29531927279383,222.2542372881356,79.30827667223818S216.51864406779663,79.07949631452477,215.0847457627119,77.49860571413348S209.34915254237288,63.349798219748706,207.91525423728814,63.4993706683252S202.17966101694915,77.9917108641989,200.74576271186442,78.99433019989843S195.01016949152543,74.89749942296118,193.5762711864407,73.52556402532053S187.8406779661017,66.33580363126586,186.40677966101697,65.27497622349206S180.67118644067799,63.01405649465098,179.23728813559325,62.91728994758252S173.50169491525423,62.5842417513095,172.0677966101695,64.30731075280747S166.3322033898305,80.07960644110067,164.89830508474577,80.14797996256223S159.1627118644068,65.45144439359396,157.72881355932205,64.9910459674231S151.99322033898306,75.21923376132291,150.55932203389833,75.54399570085364S144.82372881355934,68.48980879076346,143.3898305084746,68.23866536273049S137.6542372881356,72.91303027866043,136.22033898305085,73.03256142052386S130.48474576271187,69.9900484279998,129.05084745762713,69.43397678136489S123.31525423728814,67.08560950654518,121.88135593220339,67.47184495417476S116.14576271186439,72.73602267545516,114.71186440677965,73.2963312576606S108.97627118644068,73.92685177416479,107.54237288135594,73.07493077622918S101.80677966101695,65.49917446706408,100.37288135593221,64.77712127830455S94.63728813559322,65.00424229292814,93.20338983050848,65.85439888863385S87.46779661016949,72.61281731468512,86.03389830508475,73.2786872353617S80.29830508474576,71.84640958559649,78.86440677966102,72.51309809539967S73.12881355932204,79.4493858036776,71.6949152542373,79.94557233339357S65.95932203389832,77.81293949081345,64.52542372881356,77.4749633925594S58.78983050847457,77.17809802059037,57.35593220338983,76.5658113508531S51.62033898305085,71.52866242335806,50.186440677966104,71.35209669518666S44.45084745762712,75.64070485229273,43.016949152542374,74.80015406913918S37.2813559322034,62.571938665444584,35.84745762711865,62.946588863651186S30.11186440677966,77.90676934298148,28.677966101694913,78.54665605120522S22.942372881355933,70.3203421729473,21.508474576271187,69.34545594588862S15.772881355932203,69.38420110683182,14.338983050847457,68.79779378061826S8.603389830508474,63.21523914271683,7.169491525423728,63.48138268375301Q6.213559322033898,63.65881171111047,0,71.45922919098007Z" fill="#f2f4f6" stroke="none" stroke-width="2"></path></svg><div class="detail inactive" style="left: 0px;"></div></div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel">
                <a href="/Company/CompareChart">

                    <div class="panel-body panel-body-success padding-sm-vertical">
                        <h4>
                            <b>Biểu đồ so sánh chỉ số năng lực cạnh tranh của doanh nghiệp</b>
                        </h4>
                        <div id="sales-orders" class="morris-hover-dark" style="height: 243px; position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                            <svg height="243" version="1.1" width="575" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
                                <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc>
                                <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                                <text x="26.5" y="204" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text>
                                <path fill="none" stroke="#ffffff" d="M39,204H550" stroke-opacity="0.5" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="26.5" y="159.25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">5</tspan></text>
                                <path fill="none" stroke="#ffffff" d="M39,159.25H550" stroke-opacity="0.5" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="26.5" y="114.5" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">10</tspan></text>
                                <path fill="none" stroke="#ffffff" d="M39,114.5H550" stroke-opacity="0.5" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="26.5" y="69.75" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15</tspan></text>
                                <path fill="none" stroke="#ffffff" d="M39,69.75H550" stroke-opacity="0.5" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="26.5" y="25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">20</tspan></text>
                                <path fill="none" stroke="#ffffff" d="M39,25H550" stroke-opacity="0.5" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <text x="550" y="216.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2016</tspan>
                                </text>
                                <text x="464.83333333333337" y="216.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2015</tspan>
                                </text>
                                <text x="379.6666666666667" y="216.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2014</tspan>
                                </text>
                                <text x="294.5" y="216.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2013</tspan>
                                </text>
                                <text x="209.33333333333334" y="216.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan>
                                </text>
                                <text x="124.16666666666667" y="216.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011</tspan>
                                </text>
                                <text x="39" y="216.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                                    <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010</tspan>
                                </text>
                                <path fill="none" stroke="#e8524e" d="M39,159.25C60.29166666666667,152.5375,102.875,136.875,124.16666666666667,132.4C145.45833333333334,127.92500000000001,188.04166666666669,127.925,209.33333333333334,123.45C230.625,118.97500000000001,273.2083333333333,97.71875000000001,294.5,96.60000000000001C315.7916666666667,95.48125,358.375,113.38125,379.6666666666667,114.5C400.95833333333337,115.61875,443.5416666666667,110.025,464.83333333333337,105.55000000000001C486.125,101.07500000000002,528.7083333333334,85.41250000000002,550,78.70000000000002" stroke-width="2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <path fill="none" stroke="#efb55b" d="M39,87.65C60.29166666666667,92.125,102.875,103.31250000000001,124.16666666666667,105.55000000000001C145.45833333333334,107.78750000000001,188.04166666666669,108.90625000000001,209.33333333333334,105.55000000000001C230.625,102.19375000000001,273.2083333333333,86.53125000000001,294.5,78.70000000000002C315.7916666666667,70.86875000000002,358.375,49.61250000000001,379.6666666666667,42.900000000000006C400.95833333333337,36.1875,443.5416666666667,26.11875,464.83333333333337,25C486.125,23.88125,528.7083333333334,31.712500000000013,550,33.95000000000002" stroke-width="2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                                <circle cx="39" cy="159.25" r="4" fill="#e8524e" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="124.16666666666667" cy="132.4" r="7" fill="#e8524e" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="209.33333333333334" cy="123.45" r="4" fill="#e8524e" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="294.5" cy="96.60000000000001" r="4" fill="#e8524e" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="379.6666666666667" cy="114.5" r="4" fill="#e8524e" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="464.83333333333337" cy="105.55000000000001" r="4" fill="#e8524e" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="550" cy="78.70000000000002" r="4" fill="#e8524e" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="39" cy="87.65" r="4" fill="#efb55b" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="124.16666666666667" cy="105.55000000000001" r="7" fill="#efb55b" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="209.33333333333334" cy="105.55000000000001" r="4" fill="#efb55b" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="294.5" cy="78.70000000000002" r="4" fill="#efb55b" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="379.6666666666667" cy="42.900000000000006" r="4" fill="#efb55b" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="464.83333333333337" cy="25" r="4" fill="#efb55b" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                                <circle cx="550" cy="33.95000000000002" r="4" fill="#efb55b" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            </svg>

                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>