
@{
    ViewBag.Title = "MethodCompetitiveness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div id="accordion" class="panel-group">

            <p>Trước tiên chúng ta sẽ nghiên cứu MAVT (Multi attributes value theory) là một lý thuyết để tính giá trị nhiều thuộc tính: </p>
            <img src="~/Content/Images/mavt.PNG" />
            <p>
                
            </p>
        </div>
    </div>
</div>

