
@{
    ViewBag.Title = "TheoryCompetitiveness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div id="accordion" class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                            <b> Định nghĩa về cạnh tranh</b>
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseOne" style="height: 0px;">
                    <div class="panel-body">
                        <div class="col-md-3">
                            <img style="width: 250px;border-color: rgba(23, 44, 62, 0.03);border-radius: 12px;border: 80px;" src="~/Content/Images/canhtranh.jpg" />
                        </div>
                        <div class="col-md-9">
                            <p>Ng&agrave;y nay hầu như tất cả c&aacute;c nước tr&ecirc;n thế giới đều thừa nhận <em><strong>cạnh tranh</strong></em>, coi cạnh tranh l&agrave; một tất yếu kh&aacute;ch quan.</p>

                            <p>C&ugrave;ng với việc chuyển đổi sang nền kinh tế thị trường, cạnh tranh đ&atilde; từng bước được tiếp nhận như một nguy&ecirc;n tắc cơ bản trong tổ chức quản l&yacute; v&agrave; điều khiển nền kinh tế quốc d&acirc;n n&oacute;i chung, trong tổ chức v&agrave; điều h&agrave;nh kinh doanh trong c&aacute;c doanh nghiệp n&oacute;i ri&ecirc;ng.</p>

                            <p>Cạnh tranh kh&ocirc;ng những l&agrave; m&ocirc;i trường v&agrave; động lực của sự ph&aacute;t triển m&agrave; c&ograve;n l&agrave; một yếu tố quan trọng l&agrave;m l&agrave;nh mạnh ho&aacute; c&aacute;c quan hệ x&atilde; hội, tạo động lực cho sự ph&aacute;t triển.</p>

                            <p>Do đ&oacute; quan điểm đầy đủ về cạnh tranh như sau: <em>Cạnh tranh l&agrave; cuộc đấu tranh gay gắt, quyết liệt giữa c&aacute;c nh&agrave; sản xuất, kinh doanh với nhau dựa tr&ecirc;n những chế độ sở hữu kh&aacute;c nhau về tư liệu sản xuất nhằm đạt được những điều kiện sản xuất v&agrave; ti&ecirc;u thụ c&oacute; lợi nhất, đồng thời tạo điều kiện th&uacute;c đẩy sản xuất ph&aacute;t triển</em>.</p>

                            <p>
                                Cạnh tranh trong kinh tế l&agrave; cuộc chạy đua &ldquo;Marathon kinh tế&rdquo; nhưng kh&ocirc;ng c&oacute; đ&iacute;ch cuối c&ugrave;ng, ai cảm nhận thấy th&igrave; người đ&oacute; sẽ trở th&agrave;nh nhịp cầu cho c&aacute;c đối thủ kh&aacute;c vươn l&ecirc;n ph&iacute;a trước.<br />
                                &nbsp;
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                          <b>Định nghĩa về năng lực cạnh tranh</b>
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseTwo">
                    <div class="panel-body">
                        <div class="col-md-3">
                            <img style="width:100%" src="~/Content/Images/nangluccanhtranh.jpg" />
                        </div>
                        <div class="col-md-9">
                            <p><strong>Năng lực cạnh tranh</strong> l&agrave; khả năng tồn tại trong kinh doanh v&agrave; đạt được một số kết quả mong muốn dưới dạng lợi nhuận, gi&aacute; cả, lợi tức hoặc chất lượng c&aacute;c sản phẩm cũng như năng lực của n&oacute; để khai th&aacute;c c&aacute;c cơ hội thị trường hiện tại v&agrave; l&agrave;m nảy sinh thị trường mới.</p>

                            <p>Năng lực cạnh tranh của doanh nghiệp l&agrave; thể hiện thực lực v&agrave; lợi thế của doanh nghiệp so với đối thủ cạnh tranh trong việc th&otilde;a m&atilde;n tốt nhất c&aacute;c đ&ograve;i hỏi của kh&aacute;ch h&agrave;ng để thu lợi nhuận ng&agrave;y c&agrave;ng cao.</p>

                            <p>Như vậy, năng lực canh tranh của doanh nghiệp trước hết phải được tạo ra từ thực lực của doanh nghiệp.</p>

                            <p>Đấy l&agrave; c&aacute;c yếu tố nội h&agrave;m của mỗi doanh nghiệp, kh&ocirc;ng chỉ được t&iacute;nh băng c&aacute;c ti&ecirc;u ch&iacute; về c&ocirc;ng nghệ, t&agrave;i ch&iacute;nh, nh&acirc;n lực, tổ chức quản trị doanh nghiệp,&hellip; một c&aacute;ch ri&ecirc;ng biệt m&agrave; đ&aacute;nh gi&aacute;, so s&aacute;nh với c&aacute;c đối thủ cạnh tranh hoạt động tr&ecirc;n c&ugrave;ng lĩnh vực, c&ugrave;ng một thị trường.</p>

                            <p>C&oacute; quan điểm cho rằng, năng lực cạnh tranh của doanh nghiệp gắn liền với ưu thế của sản phẩm m&agrave; doanh nghiệp đưa ra thị trường.</p>

                            <p>C&oacute; quan điểm gắn năng lực cạnh tranh của doanh nghiệp với thị phần m&agrave; n&oacute; nắm giữ, cũng c&oacute; quan điểm đồng nhất của doanh nghiệp với hiệu quả sản xuất kinh doanh,&hellip; Tuy nhi&ecirc;n, nếu chỉ dựa v&agrave;o thực lực v&agrave; lợi thế của m&igrave;nh e chưa đủ, bởi trong điều kiện to&agrave;n cầu h&oacute;a kinh tế, lợi thế b&ecirc;n ngo&agrave;i đ&ocirc;i khi l&agrave; yếu tố quyết định.</p>

                            <p>Thực tế chứng minh một số doanh nghiệp rất nhỏ, kh&ocirc;ng c&oacute; lợi thế nội tại, thực lực b&ecirc;n trong yếu nhưng vẫn tồn tại v&agrave; ph&aacute;t triển trong một thế giới cạnh tranh khốc liệt như hiện nay.</p>

                            <p><strong>Như vậy</strong>, &ldquo;<em>năng lực cạnh tranh của doanh nghiệp l&agrave; việc khai th&aacute;c, sử dụng thực lực v&agrave; lợi thế b&ecirc;n trong, b&ecirc;n ngo&agrave;i nhằm tạo ra những sản phẩm &ndash; dịch vụ hấp dẫn người ti&ecirc;u d&ugrave;ng để tồn tại v&agrave; ph&aacute;t triển, thu được lợi nhuận ng&agrave;y c&agrave;ng cao v&agrave; cải tiến vị tr&iacute; so với c&aacute;c đối thủ cạnh tranh tr&ecirc;n thị trường </em>&rdquo;.</p>

                            <p>Năng lực cạnh tranh thể hiện ở việc l&agrave;m tốt hơn với c&aacute;c c&ocirc;ng ty so s&aacute;nh (c&aacute;c đối thủ) về doanh thu, thị phần, khả năng sinh lời v&agrave; đạt được th&ocirc;ng qua c&aacute;c h&agrave;nh vi chiến lược, được định nghĩa như l&agrave; một tập hợp c&aacute;c h&agrave;nh động tiến h&agrave;nh để t&aacute;c động tới m&ocirc;i trường nhờ đ&oacute; l&agrave;m tăng lợi nhuận c&ocirc;ng ty, cũng như bằng những c&ocirc;ng cụ marketing kh&aacute;c. N&oacute; cũng đạt được th&ocirc;ng qua việc n&acirc;ng cao chất lượng sản phẩm m&agrave; sự s&aacute;ng tạo sản phẩm l&agrave; những kh&iacute;a cạnh rất quan trọng của qu&aacute; tr&igrave;nh cạnh tranh.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                          <b>Năng lực cạnh tranh doanh nghiệp</b>
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapseThree">
                    <div class="panel-body">
                        <div class="col-md-3">
                            <img style="width:100%" src="~/Content/Images/bannercanhtranh.PNG" />
                        </div>
                        <div class="col-md-9">
                            <p>
                                Trong thực tế, kh&aacute;i niệm cạnh tranh bao gồm nhiều ng&agrave;nh như lợi thế so s&aacute;nh, quan điểm cạnh tranh về gi&aacute;, c&aacute;c quan điểm chiến lược v&agrave; quản l&yacute;, v&agrave; quan điểm lịch sử văn h&oacute;a- x&atilde; hội.<br />
                                Để c&oacute; được năng lực cạnh tranh mạnh, doanh nghiệp phải trải qua một qu&aacute; tr&igrave;nh x&acirc;y dựng v&agrave; củng cố bộ m&aacute;y tổ chức, x&acirc;y dựng v&agrave; thực hiện tốt c&aacute;c chiến lược sản xuất v&agrave; kinh doanh, bao gồm: <em>chiến lược sản xuất, chiến lược nh&acirc;n sự, chiến lược c&ocirc;ng nghệ, chiến lược thị trường v&agrave; đặc biệt l&agrave; chiến lược cạnh tranh; tạo dựng m&ocirc;i trường b&ecirc;n trong v&agrave; b&ecirc;n ngo&agrave;i tốt để l&agrave;m cơ sở vững chắc cho việc thực hiện c&aacute;c chiến lược tr&ecirc;n, cũng như c&aacute;c hoạt động kh&aacute;c của doanh nghiệp</em>.
                            </p>

                            <p>
                                Tất cả c&aacute;c yếu tố tr&ecirc;n đều c&oacute; ảnh hưởng đến năng lực cạnh tranh của doanh nghiệp v&agrave; c&oacute; thể chia ra l&agrave;m hai nh&oacute;m sau:<br />
                                a.&nbsp;&nbsp; <strong><em>&nbsp;Nh&oacute;m c&aacute;c yếu tố b&ecirc;n trong&nbsp;</em></strong>:<br />
                                &nbsp; &nbsp;Ph&aacute;t sinh từ nội bộ doanh nghiệp, gồm:<br />
                                &nbsp; &nbsp; - Cơ cấu tổ chức v&agrave; c&aacute;c ch&iacute;nh s&aacute;ch, chiến lược của doanh nghiệp.<br />
                                &nbsp; &nbsp; - Quản trị doanh nghiệp: gồm phương ph&aacute;p v&agrave; biện ph&aacute;p quản l&yacute;, x&acirc;y dựng thương hiệu cho sản phẩm, đ&agrave;o tạo nguồn nh&acirc;n lực,&hellip;<br />
                                &nbsp; &nbsp; - Sự sẵn s&agrave;ng của c&aacute;c nh&acirc;n tố đầu v&agrave;o.<br />
                                &nbsp; &nbsp; - Tr&igrave;nh độ v&agrave; nhận thức của người lao động trong doanh nghiệp: tr&igrave;nh độ tay nghề, sự hiểu biết về luật ph&aacute;p v&agrave; ch&iacute;nh s&aacute;ch của Nh&agrave; nước, nhận thức về văn h&oacute;a tổ chức, về lao động, nhận thức về thị trường, về cạnh tranh,&hellip;<br />
                                b.&nbsp;&nbsp; &nbsp;<em><strong>Nh&oacute;m yếu tố b&ecirc;n ngo&agrave;i :</strong></em><br />
                                &nbsp; L&agrave; những yếu tố b&ecirc;n ngo&agrave;i doanh nghiệp, gồm:<br />
                                &nbsp; - C&aacute;c yếu tố m&ocirc;i trường vĩ m&ocirc;:<br />
                                &nbsp; &nbsp; + C&aacute;c yếu tố kinh tế: xu hướng GDP, thu h&uacute;t vốn đầu tư trực tiếp &nbsp;nước ngo&agrave;i,&hellip;<br />
                                &nbsp; &nbsp; + C&aacute;c yếu tố ch&iacute;nh trị<br />
                                &nbsp;- ph&aacute;p luật: mức độ ổn định ch&iacute;nh trị, m&ocirc;i trường đầu tư, luật x&acirc;y dựng, luật cạnh tranh, c&aacute;c ch&iacute;nh s&aacute;ch thuế, &hellip;<br />
                                &nbsp; &nbsp; + C&aacute;c yếu tố x&atilde; hội,văn h&oacute;a, nh&acirc;n khẩu, địa l&yacute;.<br />
                                &nbsp; &nbsp; + C&aacute;c yếu tố c&ocirc;ng nghệ: xu hướng c&ocirc;ng nghệ, sản phẩm mới, &hellip;<br />
                                &nbsp;- C&aacute;c yếu tố m&ocirc;i trường vi m&ocirc;:<br />
                                &nbsp; &nbsp;+ Đối thủ cạnh tranh hiện tại : lịch sử h&igrave;nh th&agrave;nh, chiến luợc ph&aacute;t triển, mục ti&ecirc;u, đ&aacute;nh gi&aacute; năng lực, lợi thế cạnh tranh, &hellip;<br />
                                &nbsp; &nbsp;+ Kh&aacute;ch h&agrave;ng: nguồn kh&aacute;ch h&agrave;ng, thị phần, th&oacute;i quen của mỗi loại kh&aacute;ch h&agrave;ng,..<br />
                                &nbsp; &nbsp;+ Nh&agrave; cung cấp: nguồn cung cấp, khả năng thương lượng của nh&agrave; cung cấp. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;+&nbsp;Đối thủ tiềm ẩn: Sự gia nhập ng&agrave;nh của một số doanh nghiệp đa dạng h&oacute;a, đối &nbsp;thủ mới, sự lớn mạnh của doanh nghiệp yếu hơn.<br />
                                &nbsp; &nbsp;+ Sản phẩm thay thế: chẳng hạn, cao su tổng hợp thay cho cao su thi&ecirc;n nhi&ecirc;n,&hellip;
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
