@model IEnumerable<Competitiveness.Branch>
@{
    ViewBag.Title = "ChartFactor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .chart {
        height: 1000px;
        text-align: center;
        margin-top: 100px;
    }

        .chart polygon {
            fill-opacity: 0 !important;
        }

        .chart svg:not(:root) {
            overflow: visible;
        }
</style>


<div class="page-heading page-heading-md" style="background-color:rgba(68, 157, 68, 0.52)">
    <div class="container-fluid-md">
        <div class="row">
            <p class="">Lựa chọn ngành để xem chỉ số cạnh tranh</p>
            <div class="col-md-12">
                @* not me *@
                <select name="sweets">
                    <option value="" selected>Lựa chọn ngành để xem biểu đồ</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.BranchId">@item.BranchName</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <br />
    <div id="chart" class="chart"></div>
</div>
<script type="text/javascript">

    $("select").change(function () {
      $("select option:selected").each(function () {
          // var ids = $(this).val().toString();
          var id = $(this).val();
          $.ajax({
              @*url: '@Url.Action("GetDataJson", "Chart", new {id = 1 })',*@
              url: '/Chart/GetDataFactorJson?id=' + id,
              type: "GET",
              dataType: 'text',
              success: function (response) {
                  var d = JSON.parse(response);
                   chart(d);
              },
              error: function () {
                  alert("error occured");
              }
          });
      });
      //
  })
  .change

    function chart(d) {

        var w = 300,
            h = 300;
        var colorscale = d3.scale.category10();
        //Legend titles
        var LegendOptions = ['Trọng số dữ liệu', 'Trọng số trung bình'];

        var mycfg = {
            w: w,
            h: h,
            maxValue: 1,
            levels: 10,
            ExtraWidthX: 300
        }

        RadarChart.draw("#chart", d, mycfg);

        var svg = d3.select('#chart')
            .selectAll('svg')
            .append('svg')
            .attr("width", w + 300)
            .attr("height", h)
            .attr("x", -300)
            .attr("y", -50);

        var text = svg.append("text")
            .attr("class", "title")
            .attr('transform', 'translate(90,0)')
            .attr("x", w - 70)
            .attr("y", 10)
            .attr("font-size", "12px")
            .attr("fill", "#404040")
            .text("Biểu đồ 4.1 Trọng lượng của tầm quan trọng(màu đỏ) và trọng lượng có nghĩa của các yếu tố (màu xanh) ở cấp độ đầu tiên.");

        var legend = svg.append("g")
            .attr("class", "legend")
            .attr("height", 100)
            .attr("width", 200)
            .attr('transform', 'translate(90,20)')
        ;
        legend.selectAll('rect')
          .data(LegendOptions)
          .enter()
          .append("rect")
          .attr("x", w - 65)
          .attr("y", function (d, i) { return i * 20; })
          .attr("width", 10)
          .attr("height", 10)
          .style("fill", function (d, i) { return colorscale(i); })
        ;

        legend.selectAll('text')
          .data(LegendOptions)
          .enter()
          .append("text")
          .attr("x", w - 52)
          .attr("y", function (d, i) { return i * 20 + 9; })
          .attr("font-size", "11px")
          .attr("fill", "#737373")
          .text(function (d) { return d; })
        ;
    }


</script>

